@model CourseListViewModel

@{
    Layout = "_Layout";
}
@if (Model.MultipleOrganisations)
{
    <a href="@Url.Action("index","Organisations")">Organisations</a>
}

<div class="grid-row add-double-bottom-margin">
    @Html.Partial("~/Views/Courses/Shared/RequestAccessSuccess.cshtml")
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            @Model.Courses.OrganisationName
        </h1>

        <h2 class="heading-large">
            Request access for someone
        </h2>

        <p>
            You can @Html.ActionLink("request a DfE Sign-in account", "Index", "RequestAccess") for others who manage your courses.
        </p>

        <h2 class="heading-large">
            Check your courses
        </h2>

        <p>
            We found @Model.TotalCount courses belonging to @Model.Courses.OrganisationName.
        </p>
        <p>
            Check that your course information is correct. If there are any problems, you should <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Publish%20teacher%20training%20courses%20problem">contact the Becoming a Teacher team</a> to let us know.
        </p>
        <p>
            To make any changes, for now you’ll still need to use UCAS web-link. Changes on UCAS will normally show here within one working day.
        </p>
        <p>
            Soon you’ll be able to add extra content to tell applicants more about you and your courses. <a href="https://afdebatmanageui.blob.core.windows.net/public-assets/How%20to%20prepare%20the%20rest%20of%20your%20course%20information.pdf">Find out more about this here</a>.
        </p>
        <p>
            In the future, you’ll be able to edit all course information here.
        </p>
    </div>
</div>

@foreach (var providerCourse in Model.Courses.ProviderCourses)
{
    if (!string.IsNullOrWhiteSpace(providerCourse.AccreditingProviderId))
    {
        <h3 class="heading-medium">
            <span class="heading-secondary">Accrediting provider</span>
            @providerCourse.AccreditingProviderName
        </h3>
    }

    <table class="ucas-info-table">
        <thead>
            <tr>
                <th class="subject-col">Subject</th>
                <th class="code-col">UCAS code</th>
                <th class="type-col">Type</th>
                <th class="link-col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in providerCourse.CourseDetails)
            {
                foreach (var variant in course.Variants)
                {
            <tr>
                <td>@course.CourseTitle</td>
                <td>@variant.UcasCode</td>
                <td>@variant.GetCourseVariantType()</td>
                <td class="ucas-view-link">
                    <a href="@Url.Action("variants", "course", new { accreditingProviderId = providerCourse.AccreditingProviderId, courseTitle = course.CourseTitle, ucasCode = variant.UcasCode, organisationId = Model.Courses.OrganisationId })">View course</a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
}
