@model FeeBasedCourseEnrichmentViewModel

@{
  var courseEnrichment = Model;
  var routeData = Model.RouteData;
  var url = Url.Action("Fees", "Course", routeData);

  var course_length = ViewData.ModelState["CourseLength"] != null && ViewData.ModelState["CourseLength"].Errors.Any();
  var fee_uk_eu = ViewData.ModelState["FeeUkEu"] != null && ViewData.ModelState["FeeUkEu"].Errors.Any();
  var fee_international = ViewData.ModelState["FeeInternational"] != null && ViewData.ModelState["FeeInternational"].Errors.Any();
  var fee_details = ViewData.ModelState["FeeDetails"] != null && ViewData.ModelState["FeeDetails"].Errors.Any();
  var financial_support = ViewData.ModelState["FinancialSupport"] != null && ViewData.ModelState["FinancialSupport"].Errors.Any();
}

<div class="course-parts__item course-parts__item--borderless">
  <h3 class="course-parts__title">
    <a href="@url">Course length and fees</a>
  </h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(course_length ? "course-parts__fields__label--error" : "")">
        Course length
        @if (course_length)
        {
          <a href="@url#CourseLength-wrapper" class="govuk-link"><span asp-validation-for="CourseLength" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(courseEnrichment.CourseLength == null ? "course-parts__fields__value--empty" : "")">
        @(@courseEnrichment?.CourseLength.DisplayText() == "Other" ? courseEnrichment.CourseLengthInput : courseEnrichment?.CourseLength.DisplayText())
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(fee_uk_eu ? "course-parts__fields__label--error" : "")">
        Fee for UK and EU students
        @if (fee_uk_eu)
        {
          <a href="@url#FeeUkEu-wrapper" class="govuk-link"><span asp-validation-for="FeeUkEu" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(courseEnrichment.FeeUkEu == null ? "course-parts__fields__value--empty" : "")">
        @courseEnrichment?.FeeUkEu.DisplayText()
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(fee_international ? "course-parts__fields__label--error" : "")">
        Fee for international students (optional)
        @if (fee_international)
        {
          <a href="@url#FeeInternational-wrapper" class="govuk-link"><span asp-validation-for="FeeInternational" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(courseEnrichment.FeeInternational == null ? "course-parts__fields__value--empty" : "")">
        @courseEnrichment?.FeeInternational.DisplayText()
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(fee_details ? "course-parts__fields__label--error" : "")">
        Fee details (optional)
        @if (fee_details)
        {
          <a href="@url#FeeDetails-wrapper" class="govuk-link"><span asp-validation-for="FeeDetails" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(string.IsNullOrWhiteSpace(courseEnrichment.FeeDetails) ? "course-parts__fields__value--empty" : "")">
        @courseEnrichment?.FeeDetails.DisplayText()
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(financial_support ? "course-parts__fields__label--error" : "")">
        Financial support you offer (optional)
        @if (financial_support)
        {
          <a href="@url#FinancialSupport-wrapper" class="govuk-link"><span asp-validation-for="FinancialSupport" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(string.IsNullOrWhiteSpace(courseEnrichment.FinancialSupport) ? "course-parts__fields__value--empty" : "")">
        @courseEnrichment?.FinancialSupport.DisplayText()
      </dd>
    </div>
  </dl>
</div>
