@model BaseCourseEnrichmentViewModel

@{
  var courseEnrichment = Model;
  var routeData = Model.RouteData;
  var url = Url.Action("Requirements", "Course", routeData);

  var qualifications = ViewData.ModelState["Qualifications"] != null && ViewData.ModelState["Qualifications"].Errors.Any();
  var personal_qualities = ViewData.ModelState["PersonalQualities"] != null && ViewData.ModelState["PersonalQualities"].Errors.Any();
  var other_requirements = ViewData.ModelState["OtherRequirements"] != null && ViewData.ModelState["OtherRequirements"].Errors.Any();
}

<div class="course-parts__item course-parts__item--borderless">
  <h3 class="course-parts__title">
    <a href="@url">Requirements and eligibility</a>
  </h3>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(qualifications ? "course-parts__fields__label--error" : "")" id="section-Qualifications">
        Qualifications needed
        @if (qualifications)
        {
            <a href="@url#Qualifications-wrapper" class="govuk-link"><span asp-validation-for="Qualifications" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(string.IsNullOrWhiteSpace(courseEnrichment.Qualifications) ? "course-parts__fields__value--empty" : "")">
        @courseEnrichment?.Qualifications.DisplayText()
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(personal_qualities ? "course-parts__fields__label--error" : "")" id="section-PersonalQualities">
        Personal qualities (optional)
        @if (personal_qualities)
        {
            <a href="@url#PersonalQualities-wrapper" class="govuk-link"><span asp-validation-for="PersonalQualities" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(string.IsNullOrWhiteSpace(courseEnrichment.PersonalQualities) ? "course-parts__fields__value--empty" : "")">
        @courseEnrichment?.PersonalQualities.DisplayText()
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key @(other_requirements ? "course-parts__fields__label--error" : "")"id="section-OtherRequirements">
        Other requirements (optional)
        @if (other_requirements)
        {
            <a href="@url#OtherRequirements-wrapper" class="govuk-link"><span asp-validation-for="OtherRequirements" ></span></a>
        }
      </dt>
      <dd class="govuk-summary-list__value @(string.IsNullOrWhiteSpace(courseEnrichment.OtherRequirements) ? "course-parts__fields__value--empty" : "")">
        @courseEnrichment?.OtherRequirements.DisplayText()
      </dd>
    </div>
  </dl>
</div>
