@model OrganisationViewModel

@{
  Layout = "Shared/_TabViewLayout";
  ViewBag.Title = Model.TabViewModel.OrganisationName;
  var train_with_us = ViewData.ModelState["TrainWithUs"] != null && ViewData.ModelState["TrainWithUs"].Errors.Any();
  var about_training_provider = ViewData.ModelState["AboutTrainingProvider"] != null && ViewData.ModelState["AboutTrainingProvider"].Errors.Any();
  var train_with_disability = ViewData.ModelState["TrainWithDisability"] != null && ViewData.ModelState["TrainWithDisability"].Errors.Any();
  var workflowStatus = Model.GetWorkflowStatus();
}

<section class="govuk-tabs__panel--without-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">About your organisation</h2>
      <form asp-controller="Organisation" asp-action="About" method="post" data-module="form">
        <input type="hidden" asp-for="@Model.PublishOrganisation" value="false"></input>
        <input type="hidden" asp-for="@Model.InstitutionCode"></input>
        @Html.Partial("Shared/ErrorSummary")
        <p class="govuk-body">This is your chance to tell applicants why they should choose to train with you. You could describe any advantages and special
        features of you as a training provider.</p>
        <p class="govuk-body">You must be specific and factual with any claims you make, and support them with evidence. For example:</p>
        <ul>
          <li>don’t say “our students are some of the happiest in the country”</li>
          <li> do say “the Times Educational Supplement ranked our students as 4th happiest in the country”</li>
        </ul>
        <div class="govuk-character-count" data-module="character-count" data-maxwords="250">
          <div id="TrainWithUs-wrapper" class="govuk-form-group @(train_with_us ? "govuk-form-group--error" : " ")">
            <label asp-for="TrainWithUs" class="govuk-label govuk-!-font-weight-bold">Training with you</label>
            @if (train_with_us) {
              <span asp-validation-for="TrainWithUs" class="govuk-error-message"></span>
            }
            <textarea asp-for="TrainWithUs" class="govuk-textarea js-character-count" rows="15" data-module="character-count"></textarea>
          </div>
        </div>

        @if(Model.AboutTrainingProviders.Any()) {
          <h2 class="govuk-heading-l">About your accredited provider</h2>
          <p class="govuk-body">Describe any advantages and special features of your accredited provider. You must be specific and factual with any claims you make, and support them with evidence.</p>

          @for (int i = 0; i < Model.AboutTrainingProviders.Count; i++) {
              var aboutTrainingProviderKey = "AboutTrainingProviders_"+i+"__Description";
              var hasErrored = ViewData.ModelState[aboutTrainingProviderKey] != null && ViewData.ModelState[aboutTrainingProviderKey].Errors.Any();
            <div class="govuk-character-count" data-module="character-count" data-maxwords="100">
                <div id="@aboutTrainingProviderKey-wrapper" class="govuk-form-group @(hasErrored ? "govuk-form-group--error" : " ")">
                    <input type="hidden" asp-for="@Model.AboutTrainingProviders[i].InstitutionCode" />
                    <input type="hidden" asp-for="@Model.AboutTrainingProviders[i].InstitutionName" />
                    <label class="govuk-label govuk-!-font-weight-bold" asp-for="@Model.AboutTrainingProviders[i].Description">
                        @Model.AboutTrainingProviders[i].InstitutionName (optional)
                    </label>
                    @if (hasErrored)
                    {
                        <span asp-validation-for="@Model.AboutTrainingProviders[i].Description" class="govuk-error-message">@Model.AboutTrainingProviders[i].ValidationMessage</span>
                    }
                    <textarea class="govuk-textarea js-character-count" rows="10" asp-for="@Model.AboutTrainingProviders[i].Description"></textarea>
                </div>
            </div>
          }
        }

        <h2 class="govuk-heading-l">Training with disabilities and other needs</h2>
        <p class="govuk-body">Say how you support candidates with disabilities and other needs. This could include candidates with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>dyslexia</li>
          <li>physical, hearing and visual impairments</li>
          <li>mental health conditions</li>
        </ul>
        <p class="govuk-body">If accessibility varies between locations, give details. It’s also useful to candidates to know how you’ve accommodated others with specific access needs in the past.</p>
        <div class="govuk-character-count" data-module="character-count" data-maxwords="250">
          <div id="TrainWithDisability-wrapper" class="govuk-form-group @(train_with_disability ? "govuk-form-group--error" : "")">
            <label asp-for="TrainWithDisability" class="govuk-label govuk-!-font-weight-bold">Training with disabilities and other needs</label>
            @if (train_with_disability) {
              @Html.ValidationMessageFor(m => m.TrainWithDisability, "", new { @class="govuk-error-message" })
            }
            <textarea asp-for="TrainWithDisability" class="govuk-textarea js-character-count" rows="15"></textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="govuk-button" value="Save" />
        </div>
        <div class="form-group">
          <a href="@Url.Action("About", "Organisation")" class="govuk-link">Cancel changes</a>
        </div>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="related">
        @switch(workflowStatus)
        {
          case WorkflowStatus.Blank :
            <p class="govuk-body">You need to complete and publish this information.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">New information will show on all @Model.TabViewModel.OrganisationName courses.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true"></input>
            </form>
            break;
          case WorkflowStatus.InitialDraft :
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">New information will show on all @Model.TabViewModel.OrganisationName courses.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true"></input>
            </form>
            break;
          case WorkflowStatus.Published :
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>

            break;
          case WorkflowStatus.SubsequentDraft :
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">New information will show on all @Model.TabViewModel.OrganisationName courses.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true"></input>
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          case WorkflowStatus.BlankSubsequentDraft :
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">New information will show on all @Model.TabViewModel.OrganisationName courses.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true"></input>
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          default:
            break;
        }

        <hr class="related__section-break">

        <h4 class="govuk-heading-m">Formatting</h4>
        <h5 class="govuk-heading-s related__heading-s">Links</h5>
        <p class="govuk-body">Use square brackets [] around the link text and round brackets () around the link URL. Make sure there are no spaces between the brackets.</p>

        <p class="govuk-body">For example:<br /> [GOV.UK](https://gov.uk/)</p>

        <h5 class="govuk-heading-s related__heading-s">Lists</h5>
        <p class="govuk-body">To create a bulleted list:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>use asterisks (*) to create a bullet point (hyphens also work)</li>
          <li>make sure there is one space after the asterisk</li>
          <li>leave 1 empty line space before the bullets start, and one after</li>
        </ul>

        <p class="govuk-body">For example:</p>
        <p class="govuk-body">* list item 1<br/>* list item 2</p>
      </aside>

    </div>
  </div>
</section>
