@model CourseListViewModel

@{
  Layout = "Shared/_OrganisationDetailsViewLayout";
  ViewBag.Title = Model.InstitutionName;
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Step 1. About your organisation</h2>
    <p class="govuk-body">Your organisation information and contact details will show on every course. They are edited and published separately from course information.</p>
    <p class="govuk-body">You need to complete your organisation fields and publish them.</p>
    <p class="govuk-body"><a class="govuk-link" href="@Url.Action("About", "Organisation")">Fill-in your organisation information</a></p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Step 2. Course details</h2>
    <h3 class="govuk-heading-m">Preview and publish courses</h3>
    <p class="govuk-body">You must complete and publish each course. You should preview your course to see how it will look to applicants before you publish.</p>
    <p class="govuk-body">Your course information will not be seen by applicants until you have published it.</p>
    <h3 class="govuk-heading-m">Copying content between courses</h3>
    <p class="govuk-body">Once you’ve completed a single course you can use a ‘copy course’ feature to duplicate information in other courses.</p>
  </div>
</div>

  @foreach (var provider in Model.Providers)
  {
    if (!string.IsNullOrWhiteSpace(provider.ProviderId))
    {
      <h3 class="govuk-heading-m">
        <span class="govuk-caption-m">Accredited provider</span>
        @provider.ProviderName
      </h3>
    }

    <table class="ucas-info-table govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header ucas-info-table__code-col" scope="col">Code</th>
          <th class="govuk-table__header ucas-info-table__subject-col" scope="col">Subject</th>
          <th class="govuk-table__header ucas-info-table__type-col" scope="col">Type</th>
          <th class="govuk-table__header ucas-info-table__type-col" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      @foreach (var course in provider.Courses)
      {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">@course.CourseCode</td>

          <td class="govuk-table__cell">
            <a href="@Url.Action("variants", "course", new {instCode = Model.InstitutionId, accreditingProviderId = course.AccreditingProviderId, ucasCode = course.CourseCode})" class="govuk-link">@course.Name</a>
          </td>
          <td class="govuk-table__cell">@course.GetCourseVariantType()</td>
          <td class="govuk-table__cell">@course.GetCourseStatus()</td>
        </tr>
      }
      </tbody>
    </table>
  }
</section>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Request access for someone</h2>
    <p class="govuk-body">You can request a DfE Sign-in account for others who manage your courses.</p>
    <p class="govuk-body"><a class="govuk-link" href="@Url.Action("RequestAccess", "Organisation")">Request access for someone else</a></p>
  </div>
</div>
