@model CourseListViewModel

@{
  Layout = "Shared/_TabViewLayout";
  ViewBag.Title = Model.Courses.OrganisationName;
}

    <section class="govuk-tabs__panel--without-border">
      <h2 class="govuk-heading-l">Courses</h2>

      @foreach (var providerCourse in Model.Courses.ProviderCourses)
      {
        if (!string.IsNullOrWhiteSpace(providerCourse.AccreditingProviderId))
        {
          <h3 class="govuk-heading-m">
            <span class="govuk-caption-m">Accrediting provider</span>
            @providerCourse.AccreditingProviderName
          </h3>
        }

        <table class="ucas-info-table govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header ucas-info-table__subject-col" scope="col">Subject</th>
              <th class="govuk-table__header ucas-info-table__code-col" scope="col">UCAS code</th>
              <th class="govuk-table__header ucas-info-table__type-col" scope="col">Type</th>
              <th class="govuk-table__header ucas-info-table__link-col" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            @foreach (var course in providerCourse.CourseDetails)
            {
              foreach (var variant in course.Variants)
              {
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">@course.CourseTitle</td>
                  <td class="govuk-table__cell">@variant.UcasCode</td>
                  <td class="govuk-table__cell">@variant.GetCourseVariantType()</td>
                  <td class="govuk-table__cell ucas-info-table__link">
                    <a href="@Url.Action("variants", "course", new { instCode = Model.Courses.UcasCode, accreditingProviderId = providerCourse.AccreditingProviderId, ucasCode = variant.UcasCode })" class="govuk-link">View course</a>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      }
    </section>
