@model OrganisationViewModel

@{
  ViewBag.Title = "About your organisation";
  var train_with_us = ViewData.ModelState["TrainWithUs"] != null && ViewData.ModelState["TrainWithUs"].Errors.Any();
  var about_training_provider = ViewData.ModelState["AboutTrainingProvider"] != null && ViewData.ModelState["AboutTrainingProvider"].Errors.Any();
  var train_with_disability = ViewData.ModelState["TrainWithDisability"] != null && ViewData.ModelState["TrainWithDisability"].Errors.Any();
  var email_address = ViewData.ModelState["EmailAddress"] != null && ViewData.ModelState["EmailAddress"].Errors.Any();
  var telephone = ViewData.ModelState["Telephone"] != null && ViewData.ModelState["Telephone"].Errors.Any();
  var org_url = ViewData.ModelState["Url"] != null && ViewData.ModelState["Url"].Errors.Any();

  var address =
    (ViewData.ModelState["Addr1"] != null && ViewData.ModelState["Addr1"].Errors.Any()) ||
    (ViewData.ModelState["Addr2"] != null && ViewData.ModelState["Addr2"].Errors.Any()) ||
    (ViewData.ModelState["Addr3"] != null && ViewData.ModelState["Addr3"].Errors.Any()) ||
    (ViewData.ModelState["Addr4"] != null && ViewData.ModelState["Addr4"].Errors.Any()) ||
    (ViewData.ModelState["Postcode"] != null && ViewData.ModelState["Postcode"].Errors.Any());

  var workflowStatus = Model.GetWorkflowStatus();
  var url = Url.Action("About", "Organisation");
  var urlForContact = Url.Action("Contact", "Organisation");
}

<a href="@Url.Action("Show", "Organisation", new {providerCode = Model.ProviderCode})" class="govuk-back-link">Back</a>

<main role="main" class="govuk-main-wrapper" id="main-content">
  @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")
  @await Html.PartialAsync("~/Views/Organisation/Shared/ErrorSummary.cshtml")

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="course-basicinfo govuk-!-margin-bottom-9">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">@Model.ProviderName</span>
          About your organisation
        </h1>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="course-parts">
        <div class="course-parts__item course-parts__item--borderless">
          <h3 class="govuk-heading-m govuk-!-font-size-27">
            <a class="govuk-link" href="@Url.Action("Contact", "Organisation", new {providerCode = Model.ProviderCode})">
              Contact details
            </a>
          </h3>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key @(email_address ? "course-parts__fields__label--error" : "")">
                Email address
                @if (email_address) {
                  <a href="@urlForContact#EmailAddress-wrapper" class="govuk-link"><span asp-validation-for="EmailAddress" ></span></a>
                }
              </dt>
              <dd class="govuk-summary-list__value govuk-summary-list__value--truncated @(string.IsNullOrWhiteSpace(Model.EmailAddress) ? "course-parts__fields__value--empty" : "")">
                @if (!String.IsNullOrWhiteSpace(Model.EmailAddress))
                {
                  <a href="mailto:@Model.EmailAddress" title="Send email to course contact" aria-label="Send email to course contact" class="govuk-link">@Model.EmailAddress.DisplayText()</a>
                }
                else
                {
                  @Model.EmailAddress.DisplayText()
                }
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key @(telephone ? "course-parts__fields__label--error" : "")">
                Telephone number
                @if (telephone) {
                  <a href="@urlForContact#Telephone-wrapper" class="govuk-link"><span asp-validation-for="Telephone" ></span></a>
                }
              </dt>
              <dd class="govuk-summary-list__value govuk-summary-list__value--truncated @(string.IsNullOrWhiteSpace(Model.Telephone) ? "course-parts__fields__value--empty" : "")">
                @Model.Telephone.DisplayText()
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key @(org_url ? "course-parts__fields__label--error" : "")">
                Website
                @if (org_url) {
                  <a href="@urlForContact#Url-wrapper" class="govuk-link"><span asp-validation-for="Url" ></span></a>
                }
              </dt>
              <dd class="govuk-summary-list__value govuk-summary-list__value--truncated @(string.IsNullOrWhiteSpace(Model.Url) ? "course-parts__fields__value--empty" : "")">
                @if (!String.IsNullOrWhiteSpace(Model.Url))
                {
                  <a href="@Model.Url" class="govuk-link">@Model.Url.DisplayText()</a>
                }
                else
                {
                  @Model.Url.DisplayText()
                }
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key @(address ? "course-parts__fields__label--error" : "")">
                Contact address
                @if(address) {
                  <a href="@urlForContact#Addr1-wrapper" class="govuk-link">Enter a complete address</a>
                }
              </dt>
              <dd class="govuk-summary-list__value">
                @if (!String.IsNullOrWhiteSpace(Model.Addr1))
                {
                  @Model.Addr1<br>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Addr2))
                {
                  @Model.Addr2<br>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Addr3))
                {
                  @Model.Addr3<br>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Addr4))
                {
                  @Model.Addr4<br>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Postcode))
                {
                  @Model.Postcode
                }
              </dd>
            </div>
          </dl>
        </div>

        <div class="course-parts__item course-parts__item--borderless">
          <h3 class="govuk-heading-m govuk-!-font-size-27">
            <a class="govuk-link" href="@Url.Action("About", "Organisation", new {providerCode = Model.ProviderCode})">
              About your organisation
            </a>
          </h3>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key @(train_with_us ? "course-parts__fields__label--error" : "")" id="section-TrainWithUs">
                About your organisation
                @if (train_with_us) {
                  <a href="@url#TrainWithUs-wrapper" class="govuk-link"><span asp-validation-for="TrainWithUs" ></span></a>
                }
              </dt>
              <dd class="govuk-summary-list__value govuk-summary-list__value--truncated @(string.IsNullOrWhiteSpace(Model.TrainWithUs) ? "course-parts__fields__value--empty" : "")">
                @Model?.TrainWithUs.DisplayText()
              </dd>
            </div>
            @if(Model.AboutTrainingProviders.Any()) {
              @for (int i = 0; i < Model.AboutTrainingProviders.Count; i++) {
                var aboutTrainingProviderKey = "AboutTrainingProviders_"+i+"__Description";
                var hasErrored = ViewData.ModelState[aboutTrainingProviderKey] != null && ViewData.ModelState[aboutTrainingProviderKey].Errors.Any();
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key @(hasErrored ? "course-parts__fields__label--error" : "")" id="AboutTrainingProviders_"+i+"__Description">
                    @Model.AboutTrainingProviders[i].ProviderName (optional)
                  </dt>
                  <dd class="govuk-summary-list__value govuk-summary-list__value--truncated @(string.IsNullOrWhiteSpace(Model.AboutTrainingProviders[i].Description) ? "course-parts__fields__value--empty" : "")">
                    @Model.AboutTrainingProviders[i].Description.DisplayText()
                  </dd>
                </div>
              }
            }
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key @(train_with_disability ? "course-parts__fields__label--error" : "")" id="section-TrainWithDisability">
                Training with disabilities and other needs
                @if (train_with_disability) {
                  <a href="@url#TrainWithDisability-wrapper" class="govuk-link"><span asp-validation-for="TrainWithDisability" ></span></a>
                }
              </dt>
              <dd class="govuk-summary-list__value govuk-summary-list__value--truncated @(string.IsNullOrWhiteSpace(Model.TrainWithDisability) ? "course-parts__fields__value--empty" : "")">
                @Model?.TrainWithDisability.DisplayText()
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="related">
        @switch(workflowStatus)
        {
          case WorkflowStatus.Blank :
            <strong class="govuk-tag govuk-tag--empty">Empty</strong>
            <p class="govuk-body">You need to complete and publish this information.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="Details" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          case WorkflowStatus.InitialDraft :
            <strong class="govuk-tag govuk-tag--draft">Draft</strong>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="Details" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          case WorkflowStatus.Published :
            <strong class="govuk-tag govuk-tag--published">Published</strong>
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>
            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">View on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">View any course to see how it will look to applicants.</p>

            break;
          case WorkflowStatus.SubsequentDraft :
            <strong class="govuk-tag govuk-tag--draft">Draft</strong>
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="Details" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          case WorkflowStatus.BlankSubsequentDraft :
            <strong class="govuk-tag govuk-tag--draft">Empty</strong>
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="Details" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          default:
            break;
        }

        <hr class="related__section-break">
      </aside>

    </div>
  </div>
</main>
