@model OrganisationViewModel

@{
  ViewBag.Title = Model.InstitutionName;
  var train_with_us = ViewData.ModelState["TrainWithUs"] != null && ViewData.ModelState["TrainWithUs"].Errors.Any();
  var about_training_provider = ViewData.ModelState["AboutTrainingProvider"] != null && ViewData.ModelState["AboutTrainingProvider"].Errors.Any();
  var train_with_disability = ViewData.ModelState["TrainWithDisability"] != null && ViewData.ModelState["TrainWithDisability"].Errors.Any();
  var email_address = ViewData.ModelState["EmailAddress"] != null && ViewData.ModelState["EmailAddress"].Errors.Any();
  var telephone = ViewData.ModelState["Telephone"] != null && ViewData.ModelState["Telephone"].Errors.Any();
  var org_url = ViewData.ModelState["Url"] != null && ViewData.ModelState["Url"].Errors.Any();
  var workflowStatus = Model.GetWorkflowStatus();
  var url = Url.Action("Details", "Organisation");
}

<a href="@Url.Action("Show", "Organisation", new {ucasCode = Model.InstitutionCode})" class="govuk-back-link">Back</a>

<main role="main" class="govuk-main-wrapper" id="main-content">
  @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="course-basicinfo govuk-!-margin-bottom-9">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">@Model.InstitutionName</span>
          About your organisation
        </h1>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="course-parts">
        <div class="course-parts__item">
          <h3 class="course-parts__title">Contact details</h3>
          <a class="course-parts__action" href="@Url.Action("Contact", "Organisation", new {ucasCode = Model.InstitutionCode})">Edit</a>
          <dl class="course-parts__fields">
            <dt class="course-parts__fields__label @(email_address ? "course-parts__fields__label--error" : "")" id="section-EmailAddress">Email address</dt>
            <dd class="course-parts__fields__value @(string.IsNullOrWhiteSpace(Model.EmailAddress) ? "course-parts__fields__value--empty" : "")">
              @if (email_address) {
                <a href="@url#EmailAddress-wrapper" class="govuk-link"><span asp-validation-for="EmailAddress" ></span></a>
              }
              @Model?.EmailAddress.DisplayText()
            </dd>
            <dt class="course-parts__fields__label @(telephone ? "course-parts__fields__label--error" : "")" id="section-Telephone">Telephone number</dt>
            <dd class="course-parts__fields__value @(string.IsNullOrWhiteSpace(Model.Telephone) ? "course-parts__fields__value--empty" : "")">
              @if (telephone) {
                <a href="@url#Telephone-wrapper" class="govuk-link"><span asp-validation-for="Telephone" ></span></a>
              }
              @Model?.Telephone.DisplayText()
            </dd>
            <dt class="course-parts__fields__label @(org_url ? "course-parts__fields__label--error" : "")" id="section-Url">Website</dt>
            <dd class="course-parts__fields__value @(string.IsNullOrWhiteSpace(Model.Url) ? "course-parts__fields__value--empty" : "")">
              @if (org_url) {
                <a href="@url#Url-wrapper" class="govuk-link"><span asp-validation-for="Url" ></span></a>
              }
              @Model?.Url.DisplayText()
            </dd>
            <dt class="course-parts__fields__label" id="section-Url">Contact address</dt>
            <dd class="course-parts__fields__value">
              @Model?.Addr1.DisplayText()<br>
              @Model?.Addr2.DisplayText()<br>
              @Model?.Addr3.DisplayText()<br>
              @Model?.Addr4.DisplayText()<br>
              @Model?.Postcode.DisplayText()
            </dd>
          </dl>
        </div>
        <div class="course-parts__item">
          <h3 class="course-parts__title">About your organisation</h3>
          <a class="course-parts__action" href="@Url.Action("About", "Organisation", new {ucasCode = Model.InstitutionCode})">Edit</a>
          <dl class="course-parts__fields">
            <dt class="course-parts__fields__label @(train_with_us ? "course-parts__fields__label--error" : "")" id="section-TrainWithUs">About your organisation</dt>
            <dd class="course-parts__fields__value @(string.IsNullOrWhiteSpace(Model.TrainWithUs) ? "course-parts__fields__value--empty" : "")">
              @if (train_with_us) {
                <a href="@url#TrainWithUs-wrapper" class="govuk-link"><span asp-validation-for="TrainWithUs" ></span></a>
              }
              @Model?.TrainWithUs.DisplayText()
            </dd>
            @if(Model.AboutTrainingProviders.Any()) {
              @for (int i = 0; i < Model.AboutTrainingProviders.Count; i++) {
                  var aboutTrainingProviderKey = "AboutTrainingProviders_"+i+"__Description";
                  var hasErrored = ViewData.ModelState[aboutTrainingProviderKey] != null && ViewData.ModelState[aboutTrainingProviderKey].Errors.Any();
                <dt class="course-parts__fields__label @(hasErrored ? "course-parts__fields__label--error" : "")" id="AboutTrainingProviders_"+i+"__Description">
                  @Model.AboutTrainingProviders[i].InstitutionName (optional)
                </dt>
                <dd class="course-parts__fields__value @(string.IsNullOrWhiteSpace(Model.AboutTrainingProviders[i].Description) ? "course-parts__fields__value--empty" : "")">
                  @Model.AboutTrainingProviders[i].Description.DisplayText()
                </dd>
              }
            }
            <dt class="course-parts__fields__label @(train_with_disability ? "course-parts__fields__label--error" : "")" id="section-TrainWithDisability">Training with disabilities and other needs</dt>
            <dd class="course-parts__fields__value @(string.IsNullOrWhiteSpace(Model.TrainWithDisability) ? "course-parts__fields__value--empty" : "")">
              @Model?.TrainWithDisability.DisplayText()
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="related">
        @switch(workflowStatus)
        {
          case WorkflowStatus.Blank :
            <strong class="govuk-tag govuk-tag--empty">Empty</strong>
            <p class="govuk-body">You need to complete and publish this information.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">Applicants will see published information from October.</p>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true" />
            </form>
            break;
          case WorkflowStatus.InitialDraft :
            <strong class="govuk-tag govuk-tag--draft">Draft</strong>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">Applicants will see published information from October.</p>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="submit" class="govuk-button" value="Publish" />
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true" />
            </form>
            break;
          case WorkflowStatus.Published :
            <strong class="govuk-tag govuk-tag--published">Published</strong>
            <p class="govuk-body">Applicants will see this on all your courses from October.</p>
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>

            break;
          case WorkflowStatus.SubsequentDraft :
            <strong class="govuk-tag govuk-tag--draft">Draft</strong>
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">Applicants will see published information from October.</p>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true" />
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          case WorkflowStatus.BlankSubsequentDraft :
            <strong class="govuk-tag govuk-tag--draft">Empty</strong>
            <p class="govuk-body">Last published on @Model.LastPublishedTimestampUtc.DateString()</p>
            <p class="govuk-body">You have unpublished changes.</p>

            <hr class="related__section-break" />
            <h4 class="govuk-heading-m">Preview on a course</h4>
            <p class="govuk-body">This information will show on all your courses.</p>
            <p class="govuk-body">Preview any course to see how it will look to applicants.</p>

            <hr class="related__section-break">
            <h4 class="govuk-heading-m">Publish</h4>
            <p class="govuk-body">Applicants will see published information from October.</p>
            <p class="govuk-body">You can make changes to this after publishing it.</p>

            <form asp-controller="Organisation" asp-action="about" method="post">
              <input type="hidden" asp-for="@Model.PublishOrganisation" value="true" />
              <input type="submit" class="govuk-button" value="Publish" />
            </form>
            break;
          default:
            break;
        }

        <hr class="related__section-break">
      </aside>

    </div>
  </div>
</main>
