@model CourseListViewModel;

@{
  ViewBag.Title = Model.ProviderName;
}

@if (Model.MultipleOrganisations) {
  <nav class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a href="@Url.Action("index", "Organisations")" class="govuk-breadcrumbs__link">Organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        @Model.ProviderName
      </li>
    </ol>
  </nav>
}

<main role="main" class="govuk-main-wrapper" id="main-content">
  @await Html.PartialAsync("~/Views/Organisation/Shared/RequestAccessSuccess.cshtml")
  @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">@Model.ProviderName</h1>
      <h2 class="govuk-heading-l">Step 1. About your organisation</h2>
      <p class="govuk-body">You need to add a description of your organisation - this is a chance to tell applicants why they should train with you. You should also say what you do for candidates with disabilities and other needs, and check your contact details to make sure they're correct.</p>
      <p class="govuk-body">Once you’ve published your organisation information, it will show on each of your course pages. You’ll have to add your course details separately in Step 2 below.</p>
      <p class="govuk-body"><strong class="govuk-tag govuk-tag--@Model.Status.ToLower() govuk-tag--inline">@Model.Status</strong> <a class="govuk-link" href="@Url.Action("Details", "Organisation")">Fill in your organisation information</a></p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Step 2. Course details</h2>
      <h3 class="govuk-heading-m">Preview and publish courses</h3>
      <p class="govuk-body">Give more details about each of your courses - including their structure and content, information about fees and financial help, and the qualifications needed for them.</p>
      <p class="govuk-body">Make sure you preview each course before you publish it, to see how it will look online to applicants.</p>
      <p class="govuk-body">You will always be able to edit and publish course information.</p>

      <h3 class="govuk-heading-m">Copying content between courses</h3>
      <p class="govuk-body">After you’ve saved your first course, when you’re completing the next you can use the ‘copy from course’ feature to fill in fields. This can be found on the ‘About this course’, ‘Course length and fees’ and ‘Requirements and eligibility’ pages.</p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m">

    @foreach (var provider in Model.Providers)
    {
      if (!string.IsNullOrWhiteSpace(provider.ProviderCode))
      {
        <h3 class="govuk-heading-m">
          <span class="govuk-caption-m">Accredited provider</span>
          @provider.ProviderName
        </h3>
      }

      <table class="ucas-info-table govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header ucas-info-table__subject-col" scope="col">Subject</th>
            <th class="govuk-table__header ucas-info-table__type-col" scope="col">Type</th>
            <th class="govuk-table__header ucas-info-table__status-col" scope="col">Status</th>
            <th class="govuk-table__header ucas-info-table__content-status-col" scope="col">Course content</th>
            <th class="govuk-table__header ucas-info-table__has-vancancies-col" scope="col">Has Vacancies</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var course in provider.Courses)
        {
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="@Url.Action("show", "course", new {providerCode = Model.ProviderCode, accreditingInstCode = course.AccreditingProvider?.ProviderCode, courseCode = course.CourseCode})" class="govuk-link">@course.Name (@course.CourseCode)</a>
            </td>
            <td class="govuk-table__cell">@course.TypeDescription</td>
            <td class="govuk-table__cell">@course.GetCourseStatus()</td>
            <td class="govuk-table__cell">
              @if(course.CanHaveEnrichment())
              {
                @switch(course.EnrichmentWorkflowStatus)
                {
                  case EnumStatus.Draft:
                    <div class="govuk-tag govuk-tag--inline govuk-tag--draft">draft</div>
                    break;
                  case EnumStatus.Published:
                    <div class="govuk-tag govuk-tag--inline govuk-tag--published">published</div>
                    break;
                  default:
                    <div class="govuk-tag govuk-tag--inline govuk-tag--empty">empty</div>
                    break;
                }
              }
            </td>
            <td class="govuk-table__cell">@course.GetHasVacancies()</td>
          </tr>
        }
        </tbody>
      </table>
    }
  </section>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Request access for someone else</h2>
      <p class="govuk-body">You can request a DfE Sign-in account for others who manage your courses.</p>
      <p class="govuk-body"><a class="govuk-link" href="@Url.Action("RequestAccess", "Organisation")">Request access for someone else</a></p>
    </div>
  </div>
</main>
