@model CourseListViewModel;

@{
  ViewBag.Title = Model.ProviderName;
}

@if (Model.MultipleOrganisations) {
  <nav class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a href="@Url.Action("index", "Organisations")" class="govuk-breadcrumbs__link">Organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        @Model.ProviderName
      </li>
    </ol>
  </nav>
}

<main role="main" class="govuk-main-wrapper" id="main-content">
  @await Html.PartialAsync("~/Views/Organisation/Shared/RequestAccessSuccess.cshtml")
  @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">@Model.ProviderName</h1>
      <h2 class="govuk-heading-m"><a class="govuk-link" href="@Url.Action("Details", "Organisation")">About your organisation</a></h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>write about your organisation</li>
        <li>set your contact details</li>
        <li>publish this information on all course pages</li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><a href="@Url.Action("Index", "Course")" class="govuk-link">Courses</a></h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>write about each course</li>
        <li>preview and publish courses</li>
        <li>copy content between courses</li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><a class="govuk-link" href="@Url.Action("RequestAccess", "Organisation")">Request access for someone else</a></h2>
      <p class="govuk-body govuk-!-margin-bottom-8">You can request a DfE Sign-in account for others who manage your courses.</p>
    </div>
  </div>
</main>
