@using GovUk.Education.ManageCourses.Ui.Controllers
@model GovUk.Education.ManageCourses.Ui.Controllers.WhoAmIViewModel

<h2>Who Am I?</h2>

<h3>Raw Claims</h3>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model.RawClaims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </tbody>
</table>
<h3>Organisation</h3>
@if (Model.Org != null)
{
<dl>
    <dt>id</dt>
    <dd>@Model.Org.Id</dd>
    <dt>name</dt>
    <dd>@Model.Org.Name</dd>
    <dt>category id</dt>
    <dd>@Model.Org.Category?.Id</dd>
    <dt>category name</dt>
    <dd>@Model.Org.Category?.Name</dd>
</dl>
}
else
{
    <p>None</p>
}
