@model CourseDetailsViewModel

@{
    Layout = "_Layout";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="/courses" class="govuk-breadcrumbs__link">Courses</a>
        </li>
    </ol>
</div>

<h1 class="govuk-heading-xl">
    @Model.CourseTitle
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="course-parts course-parts--large">
            <ul class="course-parts-items">
                <li class="course-parts-item">
                    <h3 class="course-part-task">
                        Details from UCAS
                    </h3>

                    <div style="clear: left; padding-top: 20px" class="add-top-margin">
                        <p>Course information that we’ve received from UCAS based on your submissions to them. If you want to change these you’ll need to use UCAS web-link.</p>
                        <p>Multiple UCAS courses for the same subject are combined into a single subject page with different course options.</p>
                    </div>

                    <table class="ucas-info-table govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row"></tr>
                                <th class="govuk-table__header" scope="col">Subject</th>
                                <th class="govuk-table__header" scope="col">Type</th>
                                <th class="govuk-table__header" scope="col">Code</th>
                                <th class="govuk-table__header" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach(var subject in Model.Subjects) {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@subject.Name</td>
                                    <td class="govuk-table__cell">@subject.Type</td>
                                    <td class="govuk-table__cell">@subject.ProgrammeCode</td>
                                    <td class="govuk-table__cell"><a href="@Url.Action("variants", "course", new {accreditingProviderId = Model.UcasCode, courseTitle = Model.CourseTitle, ucasCode=subject.ProgrammeCode})">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </li>
            </ul>
    </div>
</div>
