@model CourseDetailsViewModel

@{
    Layout = "_Layout";
}

<div class="breadcrumbs">
    <ol>
        <li><a href="/courses">Courses</a></li>
    </ol>
</div>

<h1 class="heading-xlarge">
    @Model.CourseTitle
</h1>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="course-parts course-parts--large">
            <ul class="course-parts-items">
                <li class="course-parts-item">
                    <h3 class="course-part-task">
                        Details from UCAS
                    </h3>

                    <div style="clear: left; padding-top: 20px" class="add-top-margin">
                        <p>Course information that we’ve received from UCAS based on your submissions to them. If you want to change these you’ll need to use UCAS web-link.</p>
                        <p>Multiple UCAS courses for the same subject are combined into a single subject page with different course options.</p>
                    </div>

                    <table class="ucas-info-table">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Type</th>
                                <th>Code</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach(var subject in Model.Subjects) {
                                <tr>
                                    <td>@subject.Name</td>
                                    <td>@subject.Type</td>
                                    <td>@subject.ProgrammeCode</td>
                                
                                    <td><a href="@Url.Action("variants", "course", new {accreditingProviderId = Model.UcasCode, courseTitle = Model.CourseTitle, ucasCode=subject.ProgrammeCode})">View</a></td>
                                </tr>
                                }
                        </tbody>
                    </table>

                </li>
            </ul>
    </div>
</div>
