@model CourseFeesLengthViewModel

@{
  Layout = "_Layout";
  var fee_details = ViewData.ModelState["FeeDetails"] != null && ViewData.ModelState["FeeDetails"].Errors.Any();
  var course_fees = ViewData.ModelState["CourseFees"] != null && ViewData.ModelState["CourseFees"].Errors.Any();
  var international_fees = ViewData.ModelState["InternationalCourseFees"] != null && ViewData.ModelState["InternationalCourseFees"].Errors.Any();
  var financial_support = ViewData.ModelState["FinancialSupport"] != null && ViewData.ModelState["FinancialSupport"].Errors.Any();
}

<a href="@Url.Action("Variants", "Organisations")" class="govuk-back-link">Back</a>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Course length and fees</h1>
      @Html.Partial("ErrorSummary")
      @using (Html.BeginForm("Fees", "Course", FormMethod.Post)) {
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading">Course length</h2>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseLength, "1 year", new {id="one_year", @class="govuk-radios__input"})
                @Html.Label("one_year", "1 year", new {@class="govuk-label govuk-radios__label"})
              </div>
              <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseLength, "Up to 2 years", new {id="two_years", @class="govuk-radios__input"})
                @Html.Label("two_years", "Up to 2 years", new {@class="govuk-label govuk-radios__label"})
              </div>
              <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.CourseLength, "Other", new {id="other", @class="govuk-radios__input"})
                @Html.Label("other", "Other", new {@class="govuk-label govuk-radios__label"})
              </div>
            </div>
          </fieldset>
        </div>
        <hr class="govuk-section-break govuk-section-break--l">
        <h2 class="govuk-heading-l">Course fees</h2>
        <div id="CourseFees-wrapper" class="govuk-form-group @(course_fees ? " govuk-form-group--error " : " ")">
          @Html.LabelFor(m => m.CourseFees, new { @class="govuk-label" })
          <div class="govuk-currency-input">
            <div class="govuk-currency-input__inner">
              <span class="govuk-currency-input__inner__unit">£</span>
              @Html.TextBoxFor(m => m.CourseFees, new { @class= "govuk-currency-input__inner__input govuk-input govuk-input--width-10"})
            </div>
          </div>
        </div>

        <div id="InternationalCourseFees-wrapper" class="govuk-form-group @(international_fees ? " govuk-form-group--error " : " ")">
          @Html.LabelFor(m => m.InternationalCourseFees, new { @class="govuk-label" })
          <div class="govuk-currency-input">
            <div class="govuk-currency-input__inner">
              <span class="govuk-currency-input__inner__unit">£</span>
              @Html.TextBoxFor(m => m.InternationalCourseFees, new { @class= "govuk-currency-input__inner__input govuk-input govuk-input--width-10"})
            </div>
          </div>
        </div>

        <h4 class="govuk-heading-m">Fee details</h4>
        <p class="govuk-body">If applicable, give further details about the fees for this course.</p>
        <p class="govuk-body">This could include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any top up fees</li>
          <li>any other costs</li>
        </ul>

        <div id="FeeDetails-wrapper" class="govuk-form-group @(fee_details ? " govuk-form-group--error " : " ")">
          @Html.LabelFor(m => m.FeeDetails, new { @class="govuk-label govuk-!-font-weight-bold" })
          @if (fee_details) {
          @Html.ValidationMessageFor(m => m.FeeDetails, "", new { @class="govuk-error-message" })
          }
          @Html.TextAreaFor(m => m.FeeDetails, new { @class= "govuk-textarea", rows = 15})
        </div>

        <h2 class="govuk-heading-l">Financial support you offer</h2>
        <p class="govuk-body">If applicable, say more about the financial support you offer for this course. For example, any bursaries available.</p>
        <p class="govuk-body">You don’t need to add details of any DfE bursaries and subject scholarships here. These will be published automatically
          to your course page</p>
        <div id="FinancialSupport-wrapper" class="govuk-form-group @(financial_support ? " govuk-form-group--error " : " ")">
          @Html.LabelFor(m => m.FinancialSupport, new { @class="govuk-label govuk-!-font-weight-bold" })
          @if (financial_support) {
            @Html.ValidationMessageFor(m => m.FinancialSupport, "", new { @class="govuk-error-message" })
          }
          @Html.TextAreaFor(m => m.FinancialSupport, new { @class= "govuk-textarea", rows = 15})
        </div>

        <div class="govuk-form">
          <input type="submit" class="govuk-button" value="Save">
        </div>

        <p class="govuk-body"><a href="#" class"govuk-link">Cancel changes</a></p>
      }
    </div>
  </div>
</main>
