@model CourseSalaryEnrichmentViewModel
@{
  Layout = "_Layout";
  var course_length = ViewData.ModelState["CourseLength"] != null && ViewData.ModelState["CourseLength"].Errors.Any();
  var salary = ViewData.ModelState["Salary"] != null && ViewData.ModelState["Salary"].Errors.Any();
  var financial_support = ViewData.ModelState["FinancialSupport"] != null && ViewData.ModelState["FinancialSupport"].Errors.Any();
}

<a href="@Url.Action("Variants", "Course", Model.RouteData)" class="govuk-back-link">Back</a>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">@Model.CourseInfo.Name (@Model.CourseInfo.ProgrammeCode)</span>
        Course length and fees
      </h1>
      @Html.Partial("ErrorSummary")
      <form asp-controller="Course" asp-action="Fees" method="post" data-module="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading">Course length</h2>
            </legend>
            @if (course_length) {
              <span asp-validation-for="CourseLength" class="govuk-error-message"></span>
            }
            <div class="govuk-radios">
              @{
                var options = CourseLengthHelper.Lookup;

                foreach (var option in options){
                  var keyString = option.Key.ToString();
                  var optionChecked = Model.CourseLength.HasValue && option.Key == Model.CourseLength.Value;
                  <div class="govuk-radios__item">
                    <input type="radio" id="@keyString" class="govuk-radios__input" asp-for="@Model.CourseLength" check="@optionChecked" value="@option.Key" />
                    <label for="@keyString" class="govuk-label govuk-radios__label">@option.Value</label>
                  </div>
                }
              }
            </div>
          </fieldset>
        </div>
        <hr class="govuk-section-break govuk-section-break--l">
        <h2 class="govuk-heading-l">Salary</h2>
        <p class="govuk-body">Give details about the salary for this course.</p>
        <p class="govuk-body">You should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>give an indication of the salary</li>
          <li>say whether there are any fees or others costs – if there are no fees for this course, you should also say so</li>
        </ul>
        <div class="govuk-character-count" data-module="character-count" data-maxwords="250">
          <div id="Salary-wrapper" class="govuk-form-group @(salary ? " govuk-form-group--error " : " ")">
            <label asp-for="Salary" class="govuk-label">Salary</label>
            @if (salary) {
              <span asp-validation-for="Salary" class="govuk-error-message"></span>
            }
            <textarea asp-for="Salary" class="govuk-textarea js-character-count" rows="15" data-module="character-count"></textarea>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l">
        <h2 class="govuk-heading-l">Financial support you offer</h2>
        <p class="govuk-body">If applicable, say more about the financial support you offer for this course. For example, any bursaries available.</p>
        <p class="govuk-body">You don’t need to add details of any DfE bursaries and subject scholarships here. These will be published automatically to your course page.</p>
        <div class="govuk-character-count" data-module="character-count" data-maxwords="250">
          <div id="FinancialSupport-wrapper" class="govuk-form-group @(financial_support ? " govuk-form-group--error " : " ")">
            <label asp-for="FinancialSupport" class="govuk-label govuk-!-font-weight-bold">Financial support you offer (optional)</label>
            @if (financial_support) {
              <span asp-validation-for="FinancialSupport" class="govuk-error-message"></span>
            }
            <textarea asp-for="FinancialSupport" class="govuk-textarea js-character-count" rows="15" data-module="character-count"></textarea>
          </div>
        </div>
         <div class="govuk-form">
          <input type="submit" class="govuk-button" value="Save">
        </div>
        <p class="govuk-body">
          <a href="@Url.Action("Variants", "Course", Model.RouteData)" class "govuk-link">Cancel changes</a>
        </p>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="related">
        @Html.Partial("FormattingAdvice")
      </aside>
    </div>
  </div>
</main>
