@model FromUcasViewModel

@{
    Layout = "_Layout";

    var link = "mailto:becomingateacher@digital.education.gov.uk?subject=Problem%20with%20course%20" + Model.Course.ProgrammeCode;
}

<div class="link-back">
    @if (Model.OrganisationCount > 1)
    {

        <a href="@Url.Action("index","Organisations")">Organisations</a>
    }
    <a href="@Url.Action("index","courses", new {organisationId= Model.OrganisationId, organisationCount = Model.OrganisationCount})">Courses</a>
</div>    

<h1 class="heading-xlarge">
    <span class="heading-secondary">@Model.Course.Name</span>
    @Model.Course.Type (@Model.Course.ProgrammeCode)
</h1>

<div class="grid-row">
    <div class="column-two-thirds">
        <p class="lede">
            Information imported from UCAS for course @Model.Course.ProgrammeCode.
        </p>
    </div>
</div>

<dl class="aligned">
    <dt>Name:</dt>
    <dd>@Model.Course.Name</dd>
    <dt>Training provider code:</dt>
    <dd>@Model.Course.UcasCode</dd>
    <dt>Training programme code:</dt>
    <dd>@Model.Course.ProgrammeCode</dd>
    <dt>Accrediting provider:</dt>
    <dd>@Model.Course.Accrediting</dd>
    <dt>Route:</dt>
    <dd>@Model.Course.GetRoute()</dd>
    <dt>Subjects:</dt>
    <dd>@Model.Course.Subjects</dd>
    <dt>Mode of study:</dt>
    <dd>@Model.Course.GetStudyMode()</dd>
    <dt>Age range:</dt>
    <dd>@Model.Course.GetAgeRange()</dd>
    <dt>Qualification:</dt>
    <dd>@Model.Course.GetQualification()</dd>
    @*<dt>Regions:</dt>
        <dd>@course.Regions</dd>*@
</dl>

<h3 class="heading-medium">Training locations</h3>
<table class="add-double-bottom-margin">
    <thead>
        <tr>
            <th>Location name</th>
            <th>Address</th>
            <th>Code</th>
            @*<th>Full time vacancies</th>
                <th>Part time vacancies</th>*@
            <th>Applications accepted from</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model.Course.Schools)
        {
            <tr>
                <td>@school.LocationName</td>
                <td>@school.Address</td>
                <td>@school.Code</td>
                @*<td>Vacancies</td>
                    <td>Not applicable</td>*@
                <td>@school.ApplicationsAcceptedFrom</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@link">Contact the Becoming a Teacher team to report a problem</a>
</p>
