@model FromUcasViewModel

@{
    Layout = "_Layout";
}

<a class="link-back" href="@Url.Action("details","course", new {Model.CourseTitle, Model.AccreditingProviderId })">Back</a>
<h1 class="heading-xlarge">
    Details from UCAS
</h1>

<div class="grid-row">
    <div class="column-two-thirds">
        <p class="lede">
            Course information that we’ve received from UCAS based on your submissions to them. If you want to change it you’ll need to use UCAS web-link.
        </p>

        <p>Multiple UCAS courses for the same subject are combined into a single subject page with different study options. For example, courses with and without a salary.</p>
    </div>
</div>

<ul>
    <h1 class="heading-xlarge">
        <span class="heading-secondary">@Model.Course.Name</span>
        PGCE with QTS full time (@Model.Course.ProgrammeCode)
    </h1>
        <dl class="aligned">
            <dt>Name:</dt>
            <dd>@Model.Course.Name</dd>
            <dt>Training provider code:</dt>
            <dd>@Model.Course.ProviderCode</dd>
            <dt>Training programme code:</dt>
            <dd>@Model.Course.ProgrammeCode</dd>
            <dt>Accredited provider:</dt>
            <dd>@Model.Course.Accredited</dd>
            <dt>Route:</dt>
            <dd>@Model.Course.Route</dd>
            <dt>Subjects:</dt>
            <dd>@Model.Course.Subjects</dd>
            <dt>Mode of study:</dt>
            <dd>@Model.Course.StudyMode</dd>
            <dt>Age range:</dt>
            <dd>@Model.Course.AgeRange</dd>
            <dt>Qualification:</dt>
            <dd>@Model.Course.Qualifications</dd>
            @*<dt>Regions:</dt>
                <dd>@course.Regions</dd>*@
        </dl>

        <h3 class="heading-medium">Training locations</h3>
        <table>
            <thead>
                <tr>
                    <th>Location name</th>
                    <th>Address</th>
                    <th>Code</th>
                    @*<th>Full time vacancies</th>
                        <th>Part time vacancies</th>*@
                    <th>Applications accepted from</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var school in Model.Course.Schools)
                {
                    <tr>
                        <td>@school.LocationName</td>
                        <td>@school.Address</td>
                        <td>@school.Code</td>
                        @*<td>Vacancies</td>
                            <td>Not applicable</td>*@
                        <td>@school.ApplicationsAcceptedFrom</td>
                    </tr>
                }
            </tbody>
        </table>
</ul>
